body {
    background-color: rgb(215, 115, 255); /*Pode escolher outra cor se quiser*/
  }
  
  h1 {
    color: white; /*Pode escolher outra cor se quiser*/
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px; 
    height: 400px;
    width: 100%;
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.tribunapr.com.br%2Fviva%2Ffrases-mensagens-dia-das-maes-whatsapp-imprimir%2F&psig=AOvVaw19KCE9MFBWyj4JN5TRqXna&ust=1683978699056000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCPi409Tb7_4CFQAAAAAdAAAAABAD);
  }
